.projecto {
    margin: 100px 0 100px 0;   
    padding: 0 100px 0 100px;
    width: 100%;
    text-align: center;
    h2 {
        font-size: 55px;
        margin-bottom: 50px;
    }
    p {
        line-height: 30px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 100px;
        li {
            h3 {
                font-size: 35px;
                margin-bottom: 20px;
            }
            a {
                position: relative;
                top: 20px;
                color: black;
                font-weight: bold;
            }
        }
    }
    img {
        margin: 100px 0 100px 0;
        width: 100%;
    }
}